body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
}

/* menu */

.menu {
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
    z-index: 1;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 15px;
}

li :last-child {
    border-right: none;
}

.menu li :hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
    border-radius: 15px;
}

/* logo */

li a :hover {
    box-shadow: none;
    border-radius: none;
}

.logo :hover {
    box-shadow: none;
    border-radius: none;
}

.logoImg {
    padding: 0;
}

.logoImg img {
    position: absolute;
    height: 60px;
    width: 40px;
}

.logoImg:hover img {
    height: 64px;
    width: 44px;
    transition: 0.15s;
}

.logo {
    margin-left: 20px;
}

/* search-bar */

.search-bar {
    position: relative;
    /* padding-top: 0.9em; */
    /* padding-left: 50%; */
    margin: auto;
}

.search-bar input {
    background-color: white;
    color: black;
    align-items: center;
    height: 3em;
    text-align: center;
    width: 20em;
    border-radius: 25px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    transition: 0.3s;

}

/* sub menu shop */

.subMenu {
    /* display: none; */
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
    border-radius: 15px;

    /* ta szerokość to zepsuta jest na poziomie designu ale coś można pomyśleć na sam sam koniec */
    /* width: 80px; */

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.1s ease-in-out;
}

.subMenu a {
    display: block;
    text-decoration: none;
    color: #333;
}

.menuItem:hover .subMenu {
    /* display: block; */
    transform: scaleY(1);
}

main {
    margin-top: 15em;
}

/*-------------------------------------------------------*/
/* Main */
main {
    margin: 10em 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

main p {
    margin: 3em;
}

/*-------------------------------------------------------*/
/* Footer */
footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: medium;
    color: #333;
    font-weight: bold;
}

footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: medium;
}

footer i {
    font-size: 1.5em;
    margin: 0 10px;
    margin-bottom: 1em;
}

/* Additional styles */
hr {
    width: 60%;
    margin: 3em auto 0;
    border: none;
    border-top: 1px solid #ccc;
}