body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Tahoma;
    font-size: 16px;
}

/* Menu */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
    z-index: 1;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 20px;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 15px;
}

li:last-child a {
    border-right: none;
}

.menu li:hover a {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
}

.menu li a:hover {
    box-shadow: none;
}

.logo {
    margin-left: 20px;
}

.logoImg {
    padding: 0;
}

.logoImg img {
    position: absolute;
    height: 60px;
    width: 40px;
    transition: 0.15s;
}

.logoImg:hover img {
    height: 64px;
    width: 44px;
}

/* Search bar */
.search-bar {
    position: relative;
    margin: auto;
}

.search-bar input {
    background-color: white;
    color: black;
    height: 3em;
    text-align: center;
    width: 20em;
    border-radius: 25px;
    border: 1px solid rgb(204, 204, 204);
    outline: none;
    transition: 0.3s;
}

/* Sub menu shop */
.subMenu {
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
    border-radius: 15px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.1s ease-in-out;
}

.subMenu a {
    display: block;
    text-decoration: none;
    color: #333;
}

.menuItem:hover .subMenu {
    transform: scaleY(1);
}

/* Main content */
main {
    margin: 6em 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 1em 0 0;
    padding: 0;
    font-size: 3em;
}

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5em;
    margin: 3em auto;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.AboutUs, .ImageAboutUs {
    display: grid;
    color: black;
    height: 80%;
    width: 80%;
    margin: 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.AboutUs {
    opacity: 0.9;
    padding: 2.5em;
    border-style: solid;
}

.AboutUs:hover {
    transform: scale(1.05);
}

.AboutUs p {
    margin: 0;
}

.AboutUs hr {
    width: 60%;
    margin: 3em auto 0;
    border: none;
    border-top: 1px solid #ccc;
}

.AboutUs h2 {
    margin: 0;
    font-size: 250%;
}

.ImageAboutUs {
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative; 
    margin-bottom: 5em;
}

/* Footer */
footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
footer p 
{
    display: inline;
    margin: 0;
    padding: 0;
    font-size: medium;
    color: #333;
    font-weight: bold;
}
footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: medium;
}

footer i
{
    font-size: 1.5em;
    margin: 0 10px;
    margin-bottom: 1em;
}
/* Additional styles */
hr {
    width: 60%;
    margin: 3em auto 0;
    border: none;
    border-top: 1px solid #ccc;
}
