*
{
    box-sizing: border-box; 
    
}
body
{
    margin: 0;
    width: auto;
}
header
{
    background-color: #000000;
    height: 8em;
    /* border: 1px solid #000; */
}

.grid-container
 {
    display: grid;
    width: 100%;
    /* grid-gap: 8px;  */
    grid-template-columns: repeat(5, 5.5fr);
    text-align: center;
    align-items: center; 
    /*justify-items: center; */
  }
.logo
{
    padding-top: 0.8em;
    /* background-color: #e8e8e8; */
    margin-left: 5em;
    /* margin-top: 2em; */
    margin-right: 1em;
    
    height: 3em;
    border-radius: 20px;
    grid-gap: 6em;
    width: 6em;
    

}
img
{
    align-items: center;
    justify-items: center;
    border-bottom: 10em;
    padding-bottom: 10em;
    margin-bottom: 2em;
    width: 80px;
   
}
/* .search-bar
{
    background-color: white;
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 2em;
    height: 2em;
    text-align: center;
    width: 25em;
    border-radius: 30px;
    grid-gap: 5em;
} */

input
{
    margin-bottom: 0.1em;
    align-items: center;
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 2em;
    height: 3em;
    text-align: center;
    width: 25em;
    border-radius: 30px;
    grid-gap: 5em;
}

.options
{
    color: #ffffff;
    font-size: 1.2em;
    /* padding-top: 0.5em; */
    background-color: #000000;
    margin-top: 2.7em;
    margin-right: 2em;
    /* margin-bottom: 0.5em; */
    height: 2.45em;
    text-align: center;
    border-radius: 20px;
    grid-gap: 6em;
    /* text-size-adjust: ; */
    transition: transform .2s;
    /* font-family: 'Lemon/Milk 700', sans-serif; */
    font-family: 'Arupala Grotesk Trial 800', sans-serif;
    /* font-family: 'Lemon/Milk light', sans-serif; */

}

a
{
    text-decoration: none;
    color: #ffffff;
}


.options:hover
{
    color: whitesmoke;
    transform: scale(1.2);
    animation: fadeIN, 5s;
}

main
{
    background-color: #F2F2F2;
    height: 55em;
    text-align: center;
    margin: 0;
}

hr {
    position: relative;
    border: none;
    height: 6px;
    background: black;
    margin: 0;
}
footer
{
    background-color: #F2F2F2;
    height: 5.5em;
    text-align: center;
    margin: 0;
}


/* .grid-container div {
    font-weight: bold;
    /*padding: 1ex; 
    display: flex;
    justify-content: center;
    align-items: center;
  } */

/* .grid-container div:nth-child(even) {
    background-color: steelblue;
  }
.grid-containerdiv:nth-child(odd) {
    background-color: skyblue;
  } */